@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav navbar-right">
            <li>
                @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
            </li>
            <li><a class="nav-link"style="margin-top:-12px" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

        </ul>

    }

    <li class="nav-item" style="margin-left:-102px" ;>
        <a class="nav-link" href="@Url.Action("UpdateProfile","Home")">UpdateProphile</a>
    </li>
}
else
{
    <div class="user_option">
        <a href="@Url.Action("Register","Account")" class="user_link" style="margin-left: 130px; margin-top: 20px">
            <i class="fa fa-user" aria-hidden="true" style="font-size: 30px;"></i>
        </a>
    </div>

    @*<ul class="navbar-nav navbar-right">
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class="nav-link" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class="nav-link" })</li>
        </ul>*@
}
