@model IEnumerable<Aptech_Final_E_project.Context.Winner>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}


<style>
    div.dataTables_wrapper div .dataTables_length select {
        width: 60px;
        display: inline-block
    }
</style>



<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">

            <h2 class="text-center">Show Winner</h2>
        </div>
        <div class="col-md-6 text-right">

        </div>
    </div>
    <table id="myTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AspNetUsers.U_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.contestDB.Title)
                </th>
                <th>
                   Action
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

               
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AspNetUsers.U_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.contestDB.Title)
                    </td>
                    <td>
    
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<!-- Include jQuery and DataTables JavaScript -->
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>



<script>
                    $(document).ready(function () {
                        $('#myTable').DataTable({

                        });
                    });
</script>


